<ion-menu [type]="menuType" content-id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Details</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-menu-toggle>
      <p>Call of Duty: Mobile is a free-to-play shooter game developed by TiMi Studio Group and published by Activision for Android and iOS. It was released on October 1, 2019, where it was one of the largest mobile game launches in history, generating over US$480 million with 270 million downloads within a year. Call of Duty: Mobile was published in other regions by Garena, Tencent Games, VNG Games and TiMi Studio Group.<br><br>
      
      Name: Ruth Anne Maneja<br>
      Codename: ruzu<br>
      Favorite Mode: Normal Battle Royale (solo, duo, and squad)<br>
      UID: ************************<br>
      </p>
      <ion-button>Close</ion-button>
    </ion-menu-toggle>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Application Development <br> and <br> Emerging Technologies</ion-title>
      <br><br><br><br><br><br><br>
     
      <ion-searchbar></ion-searchbar>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <center><h1>Call of Duty: Mobile</h1></center>
    <ion-radio-group [(ngModel)]="menuType">
      <center>
      <ion-menu-toggle>
        <ion-button>Homepage</ion-button>
      </ion-menu-toggle>
      <div>
        <img src="..\..\assets\img\f9.jpg" width="500%">
      </div> 
  
      <p>Call of Duty: Mobile received "generally favorable reviews", according to the review aggregator Metacritic. IGN wrote that the game “represents the best the juggernaut franchise has ever been on a handheld platform. The leveling path is rewarding, even without spending money, and there are lots of modes to jump around between, including an impressive battle royale mode.” GameSpot says “beyond its messy micro-transaction menus and the slight time-saving purchases, there's not much else in Call of Duty Mobile that detracts from its faithful recreation of the exhilarating and fast-paced multiplayer action of the core series.” Polygon also praised the game stating, “Call of Duty: Mobile does not come across like a deeply compromised or watered-down rendition of the age-old multiplayer format; it just feels like Call of Duty.”<br><br></p>

      </center>
      <br/>
      <center>
      <ion-menu-toggle>
        <ion-button>About</ion-button>
      </ion-menu-toggle>
      <p>Players can choose to play ranked or non-ranked matches in multiplayer mode. It has two types of in-game currencies: "Credits", which are earned through playing the game, and "COD Points", which are bought with real-world money. It is possible to play the full game without paying, though some exclusive character and weapon skins can only be bought with COD Points. Apart from standard matchmaking, a private room for both the multiplayer and battle royale modes can also be accessed where players can invite and battle with their in-game friends.<br><br></p>
      </center>
      <br/>
      <ion-grid>
    <ion-row>
      <ion-col size="12">
        <img src="..\..\assets\img\f3.jpg" width="500%">
      </ion-col>
      <p>The multiplayer mode is a first-person shooter similar to previous Call of Duty games. The game also has "Scorestreaks", which are special weapons that are available as the player reaches certain times and points. Additionally, the game features special and limited multiplayer modes that last for varying lengths of time. These include: Prop Hunt, Rapid Fire, Sticks and Stones, 2v2, Capture the Flag, One Shot One Kill, Snipers Only, and Gun Game, and Attack of the Undead among others.<br><br></p>
      <ion-col size="12">
        <img src="..\..\assets\img\f6.jpg" width="500%">
      </ion-col>
      <p>The game also includes battle royale modes featuring up to 100 players. A player can choose to play alone, on a two-man team, or in a four-man squad. At the start of a game, all players choose an ability from healing to making a launch pad. Once all 100 people are ready, they get aboard a plane that flies in a straight line over the map. This flight path changes every game. Every team is automatically given a jump leader who decides when and where the team will land. At the beginning of the game, each player carries only a knife. The map has weapons, vehicles, and items which players can find and use to improve their chances of killing enemies while staying alive themselves. A player or team wins the game if they are the last one remaining. Particularly, battle royale also has limited modes like Sniper Challenge, Battle Royale Alcatraz, Battle Royale Blackout, 20v20 Warfare, and Battle Royale Blitz.<br><br></p>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <img src="..\..\assets\img\f10.jpg" width="500%">
      </ion-col>
      <p>A Zombies mode was added in November 2019. It placed teams of players against zombies that attacked in waves. It was playable in Endless Survival Mode, which ran like the classic zombies experience, and Raid Mode, which threw a set number of waves at the players before transitioning to a boss encounter. The players could choose whether to play it on Normal or Heroic difficulty.<br><br></p>
    </ion-row>
  </ion-grid>
      <center>
      <ion-menu-toggle>
        <ion-button>Contacts</ion-button>
      </ion-menu-toggle>
      <br>
      <br>
      <ion-button fill="outline">Adrian Darjuan</ion-button><br>
      <ion-button fill="outline">Angelica Melencion</ion-button><br>
      <ion-button fill="outline">Julian Ramos</ion-button><br>
      <ion-button fill="outline">Angeline Floralde</ion-button><br>
      </center>
      <br><br>
    </ion-radio-group> <br />
  </ion-content>
</div>
<br/>
<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-title>IONIC PROJECT <br> -ruzu-</ion-title>
  </ion-toolbar>
</ion-footer>